/****************************
Base
contains base element global styles,
such as h1, h2, p, a, blockquote etc.

-- Using Foundation 6 to set the base styles

****************************/

::selection {
    background: #888;
    color: white;
}
::-moz-selection {
    background: #888;
    color: white;
}

body {
    font-size: $font-size-base; // 16px, set in variables.scss 
    position: relative;
    padding-bottom: 150px;
    min-height: 100vh;   
}	
