/************************
Media Queries & Mobile Styles
************************/
@include breakpoint(medium down) {
	nav#primary-nav {
		.title-bar {
			background-image: url(_static/images/navbar-wc.png);
			background-repeat: no-repeat;
			background-color: transparent;
			border: none;
			img {
				width: 100px;
				margin: 0 auto;
				display: block;
			}

			.menu-icon {
				float: right;
				color: $black;
				position: absolute;
				top: 0px;
				right: 0px;
				height: 54px;
				width: 60px;
				padding: 15px;
				&:focus {
					outline: none;
				}
				&:after {
					background: $black;
					box-shadow: 0 7px 0 $black,0 14px 0 $black;
					height: 1px;
					width: 40%;
					top: 17px;
					left: 17px;
				}
			}
		}
		.top-bar {
			background: none;
			height: 100vh;
			overflow: scroll;
			.top-bar-left, .top-bar-right {
				width: 100%;
			}
			.top-bar-title {
				display: none;
			}
			.top-bar-left li {
				display: block;
				border-bottom: 1px solid $light-gray;
				text-align: left;
				&:after {
					content: none;
				}
			}
			.dropdown.menu>li.opens-right>.is-dropdown-submenu {
				position: relative;
				border: none;
				left: 0;
				transform: none;
			}
			.vertical.menu li {
				border-bottom: 0;
				text-align: left;
				a {
					padding: 20px 0px;

				}
			}
			.is-dropdown-submenu-parent:before {
				display: none;
			}
			.search {
				form {
					position: relative;
					max-width: 288px;
					margin: 0 auto;
					input {
						max-width: 100%;
					}
					input[type="image"] {
						position: absolute;
						top: 40%;
						right: 3%;
						width: 10px;
					}
				}
			}
			#socialMedia {
				height: 55px;
				width: 100%;
				li {
					padding: 0 7%;
					a img {
						width: 20px;
					}
				}
			}
		}
		span.pencil-border {
			background: none;
			border-bottom: 1px solid $light-gray;
		}
	}
	.page-contact, .page-faq {
		.row.cushion {
			padding: 54px 15px;
		}
	}
	footer.site-footer {
		position: static;
    	width: 100%;
	}
	body {
		padding-bottom: 0;
	}
	

}

@include breakpoint(small only) {
	.mobile-switch {
	   position: relative;
	   display: -webkit-box;
	   display: -moz-box;
	   display: -ms-flexbox;
	   display: -webkit-flex;
	   display: flex;
	   -webkit-box-orient: vertical;
	   -moz-box-orient: vertical;
	   -webkit-flex-direction: column;
	   -ms-flex-direction: column;
	   flex-direction: column;
	   /* optional */
	   -webkit-box-align: start;
	   -moz-box-align: start;
	   -ms-flex-align: start;
	   -webkit-align-items: flex-start;
	   align-items: flex-start;
	   .order-2 {
	   	 -webkit-box-ordinal-group: 2;
	   	 -moz-box-ordinal-group: 2;
	   	 -ms-flex-order: 2;
	   	 -webkit-order: 2;
	     order: 2;
	   }
	   .order-1 {
		 -webkit-box-ordinal-group: 1;
		 -moz-box-ordinal-group: 1;
		 -ms-flex-order: 1;
		 -webkit-order: 1;
		 order: 1;
		}
	}
	.single, .blog {
		header.entry-header {
			text-align: center;
		}
		.entry-date {
			text-align: center;
		}
		article {
			.entry-content {
				p:nth-child(2) {
					width: 100%;
					display: block;
				}

			}
			.read-more {
				float: none;
				a {
					display: block;
					text-align: center;
					font-size: rem-calc(16);
					padding-top: 10px;
				}
			}
		}
		.entry-date {
			margin-top: 20px;
			text-align: center;
		}
		#comments {
			.comment-meta, .comment-content {
				width: 100%;
				float: none;
			}
		}
		.post-navigation {
			margin-top: 20px;
			a {
				display: block;
				font-size: rem-calc(12);
				text-align: center;
				padding: 10px 0px;
				&:nth-child(2) {
					float: none;
				}
			}
		}
	}
	.page-template-sub-category-template { 
		figure { 
			img {
				height: 296px;
			} 
		}
	}
	.category, .page-template-sub-category-template, .page, .search, .tag {
		.medium-4 p {
			border-top: none;
			border-bottom: 1px solid $black;
		}
	}
	.category, .search, .tag {
		article {
			padding: 0px 5px 0px 0.9375rem;
			&:nth-of-type(2n) {
				padding-left: 5px;
				padding-right: 0.9375rem;
			}
		}
	}
	#socialMedia {
		display: block;
		float: none;
		li {
			width: 20%;
			a {
				display: block;
				width: 100%;
			}
			img {
				width: 18px;
				display: block;
				margin: 0 auto;
			}
		}
	}
	#popular-posts {
		.entry-title {
			text-align: center;
			font-size: rem-calc(11);
		}
		div.column {
			padding: 0;
			img {
				height: 240px;
			}
		}
	}
	.page-about {
 		.entry-content {
 			padding: 0 1rem;
 			blockquote {
				&:nth-of-type(2) {
					float: none;
					width: 100%;
					padding: 0;
					hr {
						width: 100%;
					}
					p {
						padding: 40px 15px;	
					}
				}
 				p {
 					width: 90%;
 				}
 			}
 			img.alignnone {
 				width: 100%;
 				margin: 0px 0px 15px 0px;
 			}

 		}
 	}
 	.page-shop {
 		figure {
 			max-width: 250px;
 			margin: 0 auto;
 			margin-bottom: 20px;
 		}
 	}
  	ul.awards {
  		width: 100%;
  	 	li {
			width: 50%;
			display: block;
			margin: 0 auto;
			margin-top: 20px;
		}
	}
	ul.press { 
		li {
			display: block;
			&:after {
				content: none;
			}
		}
	}
	footer.site-footer {
		padding-bottom: 50px;
		background-position: 70% 50px;
		.social-contact {
			border-bottom: none;
			a.contact {
				position: static;
				text-align: center;
				display: block;
				float: none;
				margin-top: 30px;
				font-size: rem-calc(11);
				letter-spacing: 4px;
			}
		}
		.creators, .copyright {
			font-size: rem-calc(8);
			display: block;
			float: none;
			text-align: center;
			letter-spacing: 2px;
			font-family: $body-font-second;
		}
		.creators {
			li {
				list-style: none;
				&:first-child {
					border: none;
					padding: 0;
					margin: 0;
				}
				a {
					color: $light-gray;
				}
			}
		}
	}
	#season, #region {
		.column.small-6 {
			padding: 0px 10px 0px 0px;
		}
		figure {
			margin-bottom: 10px;
			img {
				height: 138px;
			}
		}
	}
	.column, .columns {
	    padding-left: rem-calc(15);
	    padding-right: rem-calc(15);
	}
	.page-template-sub-category-template .column.center {
		display: block;
		width: auto;
		margin: 0 !important; 
	}
}

@media (max-width: 1405px) {
	.top-bar {
	    .top-bar-title {
	    	padding: 11px 25px;
	    }
	    .top-bar-left {
	    	li {
	    		a {
	    			padding: 20px 1.44vw !important;
	    		}
	    	}
	    }

	}
}
@include breakpoint(xlarge down) {
	.show-for-xlarge-only {
		display: none;
	}
}
@include breakpoint(xlarge up) {
	.hide-for-xlarge {
		display: none;
	}
	.show-for-xlarge {
		display: block!important;
	}
	.show-for-xlarge-only {
		display: block;
	}
}

@media (max-width: 1199px) {
	nav#primary-nav {
		.title-bar {
			background-image: url(_static/images/navbar-wc.png);
			background-repeat: no-repeat;
			background-color: transparent;
			border: none;
			img {
				width: 100px;
				margin: 0 auto;
				display: block;
			}

			.menu-icon {
				float: right;
				color: $black;
				position: absolute;
				top: 0px;
				right: 0px;
				height: 54px;
				width: 60px;
				padding: 15px;
				&:focus {
					outline: none;
				}
				&:after {
					background: $black;
					box-shadow: 0 7px 0 $black,0 14px 0 $black;
					height: 1px;
					width: 40%;
					top: 17px;
					left: 17px;
				}
			}
		}
		.top-bar {
			background: none;
			height: 100vh;
			overflow: scroll;
			.top-bar-left, .top-bar-right {
				width: 100%;
			}
			.top-bar-title {
				display: none;
			}
			.top-bar-left li {
				display: block;
				border-bottom: 1px solid $light-gray;
				text-align: left;
				&:after {
					content: none;
				}
			}
			.dropdown.menu>li.opens-right>.is-dropdown-submenu {
				position: relative;
				border: none;
				left: 0;
				transform: none;
			}
			.vertical.menu li {
				border-bottom: 0;
				text-align: left;
				a {
					padding: 20px 0px;

				}
			}
			.is-dropdown-submenu-parent:before {
				display: none;
			}
			.search {
				form {
					position: relative;
					max-width: 288px;
					margin: 0 auto;
					input {
						max-width: 100%;
					}
					input[type="image"] {
						position: absolute;
						top: 40%;
						right: 3%;
						width: 10px;
					}
				}
			}
			#socialMedia {
				height: 55px;
				width: 100%;
				li {
					width: 20%;
					a img {
						width: 20px;
						display: block;
						margin: 0 auto;
					}
				}
			}
		}
		span.pencil-border {
			background: none;
			border-bottom: 1px solid $light-gray;
		}
	}
	

}