/****************************
Components
contains each self-contained components
****************************/

/* group clearfix */
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}
.page-template-faux-landing-page {
	.full-width {
		height: 100vh;
		width: 100vw;
	}
	.satsuki-bg {
		background-image: url(_static/images/satsuki.png);
		background-repeat: no-repeat;
		background-position: right 75%;
		text-align: center;
		max-width: 1350px;
		margin: 0 auto;
		height: 100%;
		img {
			margin-top: 33vh;
			margin-bottom: 55px;
			max-width: 140px;
		}
		h1 {
			font-size: rem-calc(11.25);
			letter-spacing: 4px;
			text-transform: uppercase;
			margin-bottom: 18px;
		}
		ol {
			margin: 0;
			li {
				font-size: rem-calc(13.13);
				font-style: italic;
				margin-bottom: 55px;
				display: inline-block;
				padding:0 24px 0px 10px;
				position: relative;
				&:after {
					content: " –- ";
					position: absolute;
					top: 2%;
					right: 0;
				}
				&:last-child {
					&:after {
						display: none;
					}
				}
			}
		}
		ul {
			margin: 0;
			li {
				display: inline-block;
				a {
					font-size: rem-calc(16);
					font-style: italic;
					color: $black;
					padding: 20px;
				}

			}
		}
	}
}

