/****************************
Components
contains each self-contained components
****************************/
a {
	color: $black;
	&:hover {
		color: $light-gray;
		img {
			opacity: 0.7;
		}
	}
}
/* group clearfix */
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}
.cushion {
	padding-top: 54px;
}

.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
	float: left;
}
/*******************
Social Media
********************/
#socialMedia {
	display: inline-block;
	float: left;
	padding: 0px 0px;
	ul {
		margin: 0;
	}
	li {
		display: inline-block;
		padding: 0px 10px;
		img {
			width: 13px;
			padding: 20px 0px 0px;
		}
	}	
}
/*******************
Widgets
********************/
.widget-area {
	padding: 0px 35px 0px 0px;
	.title {
		font-size: rem-calc(11.25);
		text-transform: uppercase;
		border-bottom: 1px solid $black;
		padding-bottom: 6px;
		margin-bottom: 18px;
		letter-spacing: 4px;
	}
	.bio {
		font-size: rem-calc(16.88);
		margin-top: 25px;
		line-height: 1.4;
		margin-bottom: 40px;
		span {
			font-size: rem-calc(16);
			font-variant: small-caps;
			letter-spacing: 2px;
		}
	}
	.subscribe-widget {
		img {
			width: 10px;
			margin-left: 10px;
		}
		label {
			float: left;
		}
		.subscription_email {
			border: none;
			border-bottom: 1px solid #333366;
			box-shadow: none;
			background: transparent;
			width: 85%;
    		margin-left: 42px;
			height: 20px;
			padding-left: 0;
		}
		.subscription_btn {
			display: none;
		}
	}
	#table-contents {
		margin: 40px 0px 19px;
	}
	ol.toc {
	    max-width: 40em;
	    overflow-x: hidden;
	    list-style: none;
	    padding: 0px;
	    margin-left: 0;
	    counter-reset: itemnr;
	    a {
	    	text-transform: uppercase;
	    	letter-spacing: rem-calc(2);
	    	font-size: rem-calc(11.25);
	    	&:hover {
	    		li:before {
	    			color: $light-gray;
	    		}
	    	}
		}
	    li {
	    	padding-bottom: 21px;
	    	
	    }
		li:before {
		    float: left;
		    color: $black;
		    width: 0;
		    white-space: nowrap;
		    margin-top: 7px;
		    content: ". . . . . . . . . . . . . . . . . . . . "
				 	 ". . . . . . . . . . . . . . . . . . . . "
				 	 ". . . . . . . . . . . . . . . . . . . . "
				 	 ". . . . . . . . . . . . . . . . . . . . ";
		}
		span.roman:before {
			content: counter(itemnr, upper-roman) ".";
			display: inline-block;
			width: auto;
			counter-increment: itemnr; 
			margin-top: 6px;
		}
		span:first-child {
	    	padding-right: 0.33em;
	    	background: #ffffff;
	    }
		span + span {
		    float: right;
		    padding-left: 0.33em;
		    background: #fdfdfd;
		    line-height: 24px;
		}
		a:hover {
			li span.roman {
				color: $light-gray;
			}
		}
	}//ol.toc
	.fbf-widget label, .rss {
		font-family: $body-font-second;
		text-transform: uppercase;
		font-size: rem-calc(8);
		letter-spacing: 0.07rem;
	}
	.fbf-widget label {
		line-height: 32px;
	}
	.rss {
		text-indent: 10px;
	}
}//.widget-area

/*******************
Popular Posts
********************/
#popular-posts {
	margin-top: 50px;
	.title {
		font-size: 0.70312rem;
		text-transform: uppercase;
		border-bottom: 1px solid $black;
		padding-bottom: 6px;
		margin-bottom: 18px;
		letter-spacing: 4px;
	}
	a {
			color: $black;
		}
	.entry-title {
		text-transform: uppercase;
		font-size: 0.6rem;
		font-family: $body-font-second;
		letter-spacing: rem-calc(1.5);
		margin-top: 17px;
		margin-bottom: 20px;
		border: none;
		display: block;
	}
	div.column {
		width: 23%;
		margin: 0% 2.66% 0% 0%;
		padding: 0;
		&:last-child {
			margin-right: 0;
		}
		img {
			height: 140px;
			width: 100%;
			object-fit: cover;
		}	
	}
	
}
@include breakpoint(small only) {
	#popular-posts {
		div.column {
			width: 100%;
			margin: 0%;
			padding: 0rem 0.9375rem;
		}
	}
}
/*******************
Comments
********************/
#comments {
	img {
		width: 50px;
		margin: 30px 10px 10px 0px;
		display: inline;
	}
	.comments-title {
		margin: 75px 0px 30px;
		font-size: rem-calc(15);
		text-transform: uppercase;
		letter-spacing: 0.05rem;
	}
	.comment-list, .children {
	    list-style-type: none;
	    margin: 10px 0px 10px 18px;
	    line-height: 1.6em;
	    article {
	    	border-bottom: none;
	    }
	}
	.comment-content {
		margin-top: 10px;

	}
	.reply {
		float: right;
    	width: 100%;
    	text-align: right;
	}
	.comment-author.vcard {
		text-transform: uppercase;
		font-size: .7225rem;
		letter-spacing: .09375rem;
		margin-top: 0px;
		margin-bottom: 0px;
		line-height: 10px;
		img {
			display: none;
		}
	}
	.comment-metadata {
		time {
			text-transform: uppercase;
			font-size: .5rem;
			font-family: Montserrat,sans-serif;
			letter-spacing: 1px;
			margin-top: 0px;
			line-height: 10px;
		}
	}
	ol.children {
		margin: 20px 0px;
		border-top: 1px solid $light-gray;
		padding: 20px 0px 20px 40px;
	}
}
/*********************
Press & Awards
*********************/
.table {
	display: table;
	margin: 0 auto;
}
ul.press {
	margin: 0;
	padding-top: 40px;
	li {
		font-size: rem-calc(11.25);
		text-transform: uppercase;
		font-family: $body-font-second;
		letter-spacing: 2px;
		text-align: center;
		list-style-type: none;
		position: relative;
		display: inline-block;
		padding-right: 15px;
		margin-left: 10px;
		padding-top: 15px;
		&:after {
			content: '|';
			position: absolute;
			right: 0px;
		}
	}
}
ul.awards {
	width: 75%;
	margin: 0 auto;
	margin-bottom: 120px;
	li {
		width: 32.8885%;
		border: none;
		padding: 0px 10px;
		display: inline-block;
		img {
			display: block;
			margin: 0 auto;
		}
	}

}
.text-center.underline {
	margin-top: 60px;
	padding-bottom: 2px;
	border-bottom: 1px solid $light-gray;
	font-size: rem-calc(9.38);
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}
/*********************
Gravity Forms
**********************/
#gform_wrapper_1 {
	form {
		position: static;
    	max-width: 100%;
    	margin: 0 auto;
    	margin-top: 0px;
    	font-family: $body-font-family;
    	text-transform: uppercase;
    	letter-spacing: 1px;
    	label {
    		font-size: rem-calc(8);
    		font-family: $body-font-second;
    	}
    	.gform_button {
	    	float: right;
	    	background: transparent;
	    	border: 1px solid #a3a3a3;
	    	font-family: $body-font-family;
	    	font-size: rem-calc(13.13);
	    	font-style: italic;
	    	text-transform: lowercase;
	    	color: $black;
	    	padding: 8px 20px;
	    	max-width: 75px;
	    	line-height: 1;
	    	&:hover {
	    		color: $light-gray;
	    	}
	    }
	    .gfield_required {
	    	display: none;
	    }
	}
}
/****************************
Comment Form
****************************/
#commentform {
	label {
    		font-size: rem-calc(8);
    		font-family: $body-font-second;
    	}
	#submit {
		float: right;
		background: transparent;
		border: 1px solid #a3a3a3;
		font-family: $body-font-family;
		font-size: rem-calc(13.13);
		font-style: italic;
		text-transform: lowercase;
		color: $black;
		padding: 8px 20px;
		line-height: 1;
		&:hover {
			color: $light-gray;
		}
	}
}
/*****************************
Recipes Ziplist
*****************************/
.zlrecipe-container-border {
	padding: 35px;
	.b-b {
		border-bottom: 1px solid transparent !important;
	}
	#zlrecipe-title.h-1 {
		text-transform: uppercase;
	    font-size: .58625rem;
	    letter-spacing: .09375rem;
	    margin-top: 17px;
	    margin-bottom: 20px;
	    line-height: 22px;
	    border-bottom: 1px solid $black !important;
	    display: inline-block;
	    padding-bottom: 0 !important;
	}
}
#zlrecipe-container {
	.zlrecipe-print-link .butn-link {
		display: inline-block !important;
	}
	.zl-recipe-link {
		display: none;
	}
	.h-4 {
		text-transform: uppercase;
		font-size: rem-calc(8) !important;
		font-weight: normal !important;
		letter-spacing: 0.05rem;
		margin: 10px 0px;

	}
	ul, ol {
		padding: 0 !important;
		margin: 0 !important;
	}
	ol {
		padding-left: 1rem !important;
	}
	.ingredient-label {
		left: 0 !important;
		text-transform: uppercase;
		font-size: rem-calc(8);
		letter-spacing: 0.05rem;
	}
	.img-desc-wrap {
		background-color: transparent !important;
	}
	.zlrecipe-print-link {
		background-image: url(_static/images/icons/PrinterIcon.png);
		background-size: 100% 100%;
		margin-top: 20px !important;
		width: 15px;
		height: 15px;
		.butn-link {
			opacity: 0;
		}
	}
}