/****************************
Components
contains each self-contained components
****************************/

/* group clearfix */
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}
.cushion {
	padding-top: 115px;
}


/*******************
Social Media
********************/
#socialMedia {
	display: inline-block;
	float: left;
	ul {
		margin: 0;
	}
	li {
		display: inline-block;
		padding: 0px 10px;
		img {
			width: 13px;
			padding: 20px 0px 0px;
		}
	}	
}
/*******************
Widgets
********************/
.widget-area {
	.title {
		font-size: rem-calc(11.25);
		text-transform: uppercase;
		border-bottom: 1px solid $black;
		padding-bottom: 10px;
		margin-bottom: 18px;
		letter-spacing: 4px;
	}
	.bio {
		font-size: rem-calc(16.88);
		margin-top: 25px;
		span {
			font-size: rem-calc(13.94);
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}
	.subscribe-widget {
		img {
			width: 10px;
			margin-left: 10px;
		}
		label {
			float: left;
		}
		.subscription_email {
			border: none;
			border-bottom: 1px solid #333366;
			box-shadow: none;
			background: transparent;
			width: 85%;
    		margin-left: 42px;
			height: 20px;
			padding-left: 0;
		}
		.subscription_btn {
			display: none;
		}
	}
	ol.toc {
	    max-width: 40em;
	    overflow-x: hidden;
	    list-style: none;
	    padding: 0px;
	    margin-left: 0;
	    counter-reset: itemnr;
	    li {
	    	padding-bottom: 27px;
	    	a {
		    	color: $black;
		    	text-transform: uppercase;
		    	letter-spacing: rem-calc(2);
		    	font-size: rem-calc(11.25);
		    }
	    }
		li:before {
		    float: left;
		    width: 0;
		    white-space: nowrap;
		    content: ". . . . . . . . . . . . . . . . . . . . "
				 	 ". . . . . . . . . . . . . . . . . . . . "
				 	 ". . . . . . . . . . . . . . . . . . . . "
				 	 ". . . . . . . . . . . . . . . . . . . . ";
		}
		span.roman:before {
			content: counter(itemnr, upper-roman) ".";
			display: inline-block;
			width: auto;
			counter-increment: itemnr; 
			font-size: rem-calc(16.88);
		}
		span:first-child {
	    	padding-right: 0.33em;
	    	background: #f8f8f8;
	    }
		span + span {
		    float: right;
		    padding-left: 0.33em;
		    background: #f8f8f8;
		}
	}
}//.widget-area

/*******************
Popular Posts
********************/
#popular-posts {
	.title {
		font-size: rem-calc(11.25);
		text-transform: uppercase;
		border-bottom: 1px solid $black;
		padding-bottom: 10px;
		margin-bottom: 18px;
		letter-spacing: 4px;
	}
	a {
			color: $black;
		}
	.entry-title {
		text-transform: uppercase;
		font-size: rem-calc(8);
		letter-spacing: rem-calc(1.5);
		margin-top: 17px;
		margin-bottom: 20px;
	}
	div.column {
		width: 23%;
		margin: 0% 2.66% 0% 0%;
		padding: 0;
		&:last-child {
			margin-right: 0;
		}
		img {
			max-height: 140px;
			object-fit: cover;
		}	
	}
	
}
@include breakpoint(small only) {
	#popular-posts {
		div.column {
			width: 100%;
			margin: 0%;
			padding: 0rem 0.9375rem;
		}
	}
}
