/***************************************
General 
contains styling for larger layout components; 
e.g. nav, header, footer, etc.
***************************************/

body {
	background-image: url(_static/images/background.png);
	background-repeat: no-repeat;
	background-repeat-y: repeat;
	height: auto;
	background-attachment: fixed;
}
/****************************
Navigation
****************************/
nav#primary-nav {
	//background-image: url(_static/images/navbar-bg.png);
	//background-color: #f9f9f9;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left bottom;
	position: fixed;
	width: 100%;
	z-index: 99;
	// span.pencil-border {
	// 	background-image: url(_static/images/pencil-line-bottom.png);
	// 	padding: 1px 0px;
	// 	width: 100%;
	// 	display: block;
	// }
	.dropdown.menu>li.is-dropdown-submenu-parent>a:after {
		display: none;
	}
}//nav#primary-nav
.top-bar {
	background-image: url(_static/images/navbar-wc.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0;
	text-align: center;
	.top-bar-title {
		position: relative;
		padding: 10px 25px !important;
		margin: 0;
		img {
			width: 14px;
		}
		/* span.pencil-vert-border {
			position: absolute;
			background-image: url(_static/images/pencil-line-vertical.png);
			padding: 31px 0px;
			top: -10px;
			width: 2px;
			right: 0;
		} */
	}
	.top-bar-left {
		float: none;
		display: inline-block;
		height: 45px;
		li {
			position: relative;
			text-transform: uppercase; 
			width: auto;

			text-align: center;
			/* &:after {
				content: "|";
				position: absolute;
				right: 0;
				top: 30%;
				font-size: 12px;
			} */
			&:last-child {
				&:after {
					display: none;
				}
			}
			a {
				letter-spacing: rem-calc(4);
				font-size: rem-calc(11.25);
				padding: 20px 1.7vw;
				font-family: $body-font-second;
			}
		}
	}//.top-bar-left
	.top-bar-right {
		position: relative;
		span.pencil-vert-border {
			position: absolute;
			background-image: url(_static/images/pencil-line-vertical.png);
			padding: 31px 0px;
			top: -10px;
			width: 2px;
			left: 0;
		}
		.search {
			display: inline-block;
			position: relative;
			img {
				padding: 23px 20px 21px;
				margin: 0;
				cursor: pointer;
				width: 50px;

			}
			form {
				position: fixed;
    			right: -1px;
    			width: 249px;
    			top: 0px;
    			transition: right ease 0.2s;
    			margin: 0;
			}
			input[type=text] {
				width: 100%;
				height: 54px;
				margin: 0;
				float: left;
			}
			input[type=image] {
				padding: 15px 19px;
				float: left;
				border-bottom: 1px solid #cacaca;
				margin: 0;
				width: 10px;
				top: 40%;
				&:focus {
					outline: none;
				}
			}
			form.closed {
				left: 100%;
				right: -100%;
			}
		}
	}//.top-bar-right
	.vertical.menu {
		li {
			border-bottom: 1px solid $light-gray;
			margin: 0px 20px;
			&:after {
				display: none;
			}
			&:last-child {
				border-bottom: none;
			}
			&:first-child {
				margin-top: 5px;
			}
		}
	}
	.dropdown.menu>li.is-dropdown-submenu-parent>a {
		padding-right: 1.7vw;
	}
	.is-dropdown-submenu-parent:before {
		@include center(horizontal)
		content: '';
	    height: 10px;
	    width: 30px;
	    background-image: url(_static/images/chevron.png);
	    background-repeat: no-repeat;
	    background-size: contain;
	    display: block;
	    margin: 0 auto;
	    bottom: -11px;
	    z-index: -1;
	    left: 50%;
	    opacity: 0;
	}
	.is-dropdown-submenu-parent.is-active:before {
		opacity: 1;
		z-index: 99;
	}
	.dropdown.menu>li.opens-right>.is-dropdown-submenu {
		@include center(horizontal)
		//left: -20%;
		//top: 102%;
		transition: height ease 0.2s;
		height: 0;
		overflow: hidden;
		&.js-dropdown-active {
			height: auto;
			border: 1px solid transparent;
			//border-image: url(_static/images/dropdown-border.png) 1 repeat;
			margin-top: 1px;
		}
	}
	.is-dropdown-submenu {

		 background-color: $white;
		 transition: all ease 0.2s;
		 display: block;
		 border: none;
		 li a {
		 	width: 220px;
		 	padding: 20px 0px;
		 	font-size: rem-calc(9.38);
		 }
	}
	
}//.top-bar
nav#primary-nav {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}//nav#primary-nav
/****************************
Header
****************************/

/****************************
Page Template Default
****************************/
.page-template-default {
	.row.cushion {
		max-width: 712px;
	}
	.entry-title {
		margin-top: 90px;
	}
	.faq {
		p {
			font-size: rem-calc(16.88);
			&:first-child {
				border-bottom: 1px solid $light-gray;
				text-transform: uppercase;
				font-family: $body-font-second;
				font-size: rem-calc(9.38);
				margin-top: 43px;
				letter-spacing: 0.1rem;
				padding-bottom: 3px;
			}
		}
	}
}


/****************************
Blog
****************************/
.blog, .single {
	article {
		.entry-header {
			img {
				max-height: 425px;
				object-fit: cover;
				width: 100%;
			}
		}
		.group {
			border-bottom: 1px solid $black;
		}
		.entry-meta {
			line-height: 16px;
			display: inline-block;
			
			a {
				text-transform: uppercase;
				font-size: rem-calc(8);
				font-family: $body-font-second;
				letter-spacing: 1px;
				padding-right: 10px;
				margin-right: 10px;
				border-right: 1px solid $black;
				display: block;
				line-height: 8px;
			}
		}
		.entry-title {
			text-transform: uppercase;
			font-size: 0.9225rem;
			letter-spacing: rem-calc(1.5);
			margin-top: 7px;
			margin-bottom: 0px;
			line-height: 32px;
			a {
				//border-bottom: 1px solid $black;
				padding-bottom: 5px;
				&:hover {
					border-bottom: 1px solid #c8c8c8;
				}
			}
		}
		.entry-date {
			font-size: rem-calc(8);
			letter-spacing: 2px;
			padding-left: 0;
			display: inline-block;
			font-family: $body-font-second;
		}
		.entry-content {
			font-size: rem-calc(17);
			padding-right: 0;
			

		}
		.read-more, .reply {
			float: right;
			margin-bottom: 53px;
			margin-top: 12px;
			a {
				font-style: italic;
				font-size: rem-calc(13);
				letter-spacing: rem-calc(0.5);
				&:after {
					content: " ";
					background-image: url(_static/images/icons/Arrow.png);
					background-size: contain;
				    position: relative;
				    width: 17px;
				    height: 17px;
				    display: inline-block;
				    top: 6px;
				    margin-left: 5px;
				}
			}

		}
		.read-more {
			background-image: url(_static/images/read-more-bg.png);
			background-size: contain;
		    background-position: 10px -10px;
		    background-repeat: no-repeat;
		    padding-top: 12px;
    		padding-bottom: 32px;
    		padding-left: 72px;
    		margin-bottom: 21px;
		}
		.more-link {
			display: none;
		}
	}
	.post-navigation {
		margin-top: 78px;
		a {
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: rem-calc(9.38);
			&:before {
				content: " ";
				background-image: url(_static/images/icons/ArrowL.png);
				background-size: contain;
			    position: relative;
			    width: 17px;
			    height: 17px;
			    display: inline-block;
			    top: 6px;
			    margin-right: 5px;
			}
			&:nth-child(2) {
				float: right;
				&:before {
					display: none;
				}
				&:after {
					content: " ";
					background-image: url(_static/images/icons/Arrow.png);
					background-size: contain;
				    position: relative;
				    width: 17px;
				    height: 17px;
				    display: inline-block;
				    top: 6px;
				    margin-left: 5px;
				}
			}
		}

	}
	.tags {
		font-size: rem-calc(9.38);
		font-style: italic;
		margin-top: 10px;
		a {
			font-size: rem-calc(8);
			font-family: $body-font-second;
			text-transform: uppercase;
			font-style: normal;
			letter-spacing: 0.07rem;
			margin-left: 5px;

		}
	}
}// .blog .single
.single {
	article {
		border-bottom: 1px solid $black;
		.group {
			border-bottom: none;
		}
		img {
			width: 100%;
			margin-top: 13px;
		}

	}
	.entry-title {
		//border-bottom: 1px solid $black;
		padding-bottom: 3px;
		display: inline;
	}
}
.comment-reply-title {
	text-transform: uppercase;
	font-size: 0.9225rem;
	letter-spacing: rem-calc(1.5);
	margin-top: 7px;
	margin-bottom: 20px;
	line-height: 32px;
}
.blog, .single {
	.cushion {
		padding-top: 15px;
	}
}
/****************************
Faux Landing Page
****************************/
.blog, .single {
	.full-width {
		height: 400px;
		width: 100vw;
	}
	.satsuki-bg {
		background-image: url(_static/images/satsuki.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		text-align: center;
		max-width: 1280px;
		margin: 0 auto;
		height: 100%;
		img {
			margin-top: 140px;
			margin-bottom: 30px;
			max-width: 140px;
		}
		h1 {
			font-size: rem-calc(11.25);
			letter-spacing: 4px;
			text-transform: uppercase;
			margin-bottom: 18px;
		}
		ol {
			margin: 0;
			li {
				font-size: rem-calc(13.13);
				font-style: italic;
				margin-bottom: 55px;
				display: inline-block;
				padding:0 24px 0px 10px;
				position: relative;
				&:after {
					content: " –- ";
					position: absolute;
					top: 2%;
					right: 0;
				}
				&:last-child {
					&:after {
						display: none;
					}
				}
			}
		}
		ul {
			margin: 0;
			li {
				display: inline-block;
				a {
					font-size: rem-calc(16);
					font-style: italic;
					padding: 20px;
				}

			}
		}
	}
}//.page-template-faux-landing-page

/****************************
Sub Category Template
****************************/
.page-template-sub-category-template, .category, .page, .tag, .search {
	.entry-header {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		text-align: center;
		height: rem-calc(180);
		.title-search {
			position: relative;
			h1 {
				@include center(both);
				text-transform: uppercase;
			    font-size: 0.9225rem;
			    letter-spacing: 0.09375rem;
			    line-height: 25px;
			    color: $white;
			    border-bottom: 1px solid $white;
				
			}
		}

	}
	form {
		position: relative;
		max-width: 288px;
		margin: 0 auto;
		margin-top: rem-calc(170);
		input[type=image] {
			position: absolute;
			top: 32%;
			right: 3%;
			width: 11px;
		}
		input[type=text] {
			height: 30px;
		}
	}
	figure {
		margin: 0;
		position: relative;
		margin-bottom: 20px;
		img {
			width: 100%;
			height: 198px;
			object-fit: cover;
		}
		figcaption {
			@include center(both);
			color: $white;
			text-transform: uppercase;
			font-size: rem-calc(13.13);
			letter-spacing: 2px;
			width: 100%;
			text-align: center;
			font-family: $header-font-family;
		}
	}
	.medium-4 {
		p {
			border-top: 1px solid $black;
			padding-top: 10px;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 0.7rem;
			font-family: $header-font-family;
		}
	}
	.cat-list {
		padding: 0px 15px;
		a.sub-categories {
			font-size: rem-calc(16.88);
			text-transform: lowercase;
			border-bottom: 1px solid $black;
			display: block;
			margin-bottom: 22px;
		}
	}
	a.scroll-to {
		float: right;
		display: block;
		font-style: italic;
		font-size: rem-calc(13.13);
		position: relative;
		padding-right: 35px;
		letter-spacing: 0.05rem;
		span img {
			width: 9px;
    		height: 9px;
    		margin-top: -3px;
    		margin-right: 3px;
		}
	}
	.screen-height {
		margin-top: rem-calc(234);;
	}
	.text-center.screen-height {
		margin-top: 35vh;
		margin-bottom: 35vh;
		font-size: rem-calc(9.38);
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	.column.center {
		width: 33.333%;
		display: inline-block;
		float: none;
		&:nth-of-type(odd) {
			margin-left: 16.5%;
		}
		&:nth-of-type(even) {
			margin-right: 16.5%;
		}
	}

}
.page-recipes {
	.screen-height {
		margin-bottom: 29vh;
	}
}
.category, .search, .tag {
	.cushion {
		padding-top: 115px;
	}
	.row {
		max-width: 980px;
	}
	article {
		height: 220px;
		padding: 0px 17px 0px 0px;
		img {
			height: 132px;
			width: 100%;
			object-fit: cover;
		}
		header.entry-header {
			height: auto;
		}
	}
	.entry-title {
		text-transform: uppercase;
		font-size: 0.6rem;
		font-family: $body-font-second;
		letter-spacing: rem-calc(1.5);
		margin-top: 17px;
		margin-bottom: 20px;
	}
	.medium-8 {
		padding: 0;
	}
}
.page-recipes, .page-travel, .page-motherhood, .page-lifestyle, .page-dwell, .page-shop {
	.entry-header {
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		text-align: center;
		height: rem-calc(352);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		.title-search {
			position: relative;
			height: 100%;
			h1 {
				@include center(both);
				top: 40%;
				text-transform: uppercase;
			    font-size: 0.9225rem;
			    letter-spacing: 0.09375rem;
			    line-height: 25px;
			    color: $black;
			    border-bottom: 1px solid $black;
				
			}
		}
	}
}
/****************************
404 & Search
****************************/
.error404, .search {
	article {
		height: 280px;
		padding: 0px 17px 0px 0px;
		img {
			height: 200px;
			width: 100%;
			object-fit: cover;
		}
	}
	.text-center.screen-height {
		margin-top: 35vh;
		margin-bottom: 35vh;
		font-size: rem-calc(16.88);
		h1 {
			text-transform: uppercase;
			font-size: rem-calc(13.13);
		}
		form {
			position: relative;
			max-width: 288px;
			margin: 0 auto;
			input[type=image] {
				position: absolute;
				top: 40%;
				right: 3%;
				width: 10px;
			}
			input[type=text] {
				height: 30px;
			}
		}
	}
}
.search-results {
	header.text-center {
		margin-bottom: 53px;
		padding-bottom: 32px;
		border-bottom: 1px solid $light-gray;

		h1 {
			font-size: rem-calc(11.25);
			letter-spacing: 0.05rem;

			span {
				display: inline-block;
				font-size: rem-calc(13.13);
				text-transform: uppercase;
				letter-spacing: 2px;
				border-bottom: 1px solid $black;
				margin-top: 14px;

			}
		}
		h2 {
			font-size: rem-calc(9.38);
			font-style: italic;
			margin-top: 10px;
		}
	}
	.post-navigation {
		font-style: italic;
		font-size: rem-calc(13.13);
		width: 100%;
		a:nth-of-type(1) {
			float: left;
			&:before {
				content: '<';
				padding-right: 10px;
			}

		}
		a:nth-of-type(2) {
			float: right;
			&:after {
				content: '>';
				padding-left: 10px;
			}
		}
	}
}
/****************************
About
****************************/
.page-about {
	.entry-content {
		p {
		  font-size: rem-calc(16.88);
		  line-height: 1.5;
		}
		blockquote {
			border: none;
			color: $black;
			margin-bottom: 40px;
			p {
				color: $black;
				font-size: rem-calc(20.63);
				width: 67%;
				margin: 0 auto;
				margin-bottom: 10px;
				&:last-child {
					font-size: rem-calc(8);
					letter-spacing: 0.1rem;
				}
			}
			&:nth-of-type(2) {
				float: right;
				width: 65%;
				margin-bottom: 0px;

				p {
					width: 100%;
					text-align: center;
					padding: 20px;
					line-height: 1.3;
				}
				hr {
					border-bottom: 1px solid $black;
					margin: 0 auto;
					width: 95%;

				}
			}
		}
		img.alignnone {
				float: left;
				margin: 0px 35px 15px 0px;
		}
		p:nth-child(16) {
			font-size: rem-calc(13.13);
			text-transform: uppercase;
			letter-spacing: 2px;
			a {
				border-bottom: 1px solid $black;
			}
		}
		p:nth-of-type(11) {
			margin-bottom: 50px;
		}
	}
}
/*********************
Shop
**********************/
.page-shop {
	.row.cushion {
		max-width: rem-calc(820);
		padding-top: rem-calc(286);
	}
	#top {
		height: rem-calc(343);
		h1.entry-title {
			top: 50%;
			margin-top: 0;
			color: $black;
			border-color: $black;
		}
	}
	figure {
		padding: 0;
		background-color: $white;
		min-height: 330px;
		figcaption {
			padding-top: 20px;
			position: static;
			transform: none;
			color: $black;
			border-top: none;
			background-color: $white;
			min-height: 100px;
		}
		&:hover {
			figcaption {
				color: $light-gray;
			}
		}
	}
	p.price {
		font-size: 0.7rem;
	}
	p.title {
		position: relative;
		margin-top: 15px;
		padding: 15px;
		&:before {
			content: '';
			border-bottom: 1px solid #000204;
			position: absolute;
			width: 50%;
			top: 0px;
			left: 25%;
			right: 25%;
		}
	}
}
/****************************
Contact 
****************************/
.page-contact {
	.entry-content {
		p:nth-of-type(1) {
			letter-spacing: 0.05rem;
		}
	}
}
/****************************
Footer
****************************/

footer.site-footer {
	text-transform: uppercase;
	font-size: rem-calc(9.38);
	background-image: url(_static/images/footer-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
    width: 100%;
    bottom: 0;
    font-family: $header-font-family;
	.social-contact {
		position: relative;
		padding-bottom: 13px;
		border-bottom: 1px solid $black;
		a.contact {
			float: right;
			position: absolute;
			bottom: 13px;
			right: 0;
			letter-spacing: 2px;
			font-size: 0.7rem;
			font-family: $header-font-family;
		}
	}
	.copyright, .creators {
		display: inline-block;
		margin-top: 13px;
		letter-spacing: 0.1rem;
	}
	.creators {
		float: right;
		font-family: $body-font-second;
		font-size: rem-calc(7.5);
		li {
			display: inline-block;
			&:first-child {
				border-right: 1px solid $black;
				padding-right: 10px;
				margin-right: 10px;
			}
		}
	}
}