/***************************************
General 
contains styling for larger layout components; 
e.g. nav, header, footer, etc.
***************************************/

body {
	background-image: url(_static/images/background.png);
	background-size: cover;
	background-repeat: no-repeat;
}
/****************************
Navigation
****************************/
nav#primary-nav {
	background-image: url(_static/images/navbar-bg.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	span.pencil-border {
		background-image: url(_static/images/pencil-border.png);
		padding: 1px 0px;
		width: 100%;
		display: block;
	}
}
.top-bar {
	background-image: url(_static/images/navbar-wc.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0;
	.top-bar-title {
		position: relative;
		padding: 11px 45px;
		margin: 0;
		img {
			width: 75px;
		}
		span.pencil-vert-border {
			position: absolute;
			background-image: url(_static/images/pencil-vert-border.png);
			padding: 31px 0px;
			top: -10px;
			width: 2px;
			right: 0;
		}
	}
	.top-bar-left {
		li {
			position: relative;
			text-transform: uppercase; 
			width: auto;

			text-align: center;
			&:after {
				content: "|";
				position: absolute;
				right: 0;
				top: 33%;
				font-size: 12px;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
			a {
				color: $black;
				letter-spacing: rem-calc(4);
				font-size: rem-calc(12);
				padding: 20px 2.47vw;
			}
		}
	}
	.top-bar-right {
		position: relative;
		span.pencil-vert-border {
			position: absolute;
			background-image: url(_static/images/pencil-vert-border.png);
			padding: 31px 0px;
			top: -10px;
			width: 2px;
			left: 0;
		}
		.search {
			display: inline-block;
			position: relative;
			img {
				padding: 23px 20px 21px;
				margin: 0;
				cursor: pointer;

			}
			form {
				position: absolute;
    			left: -165px;
    			width: 215px;
    			top: 53px;
    			transition: left ease 0.2s;
			}
			input[type=text] {
				width: 167px;
				padding: 0px 5px;
				margin: 0;
				float: left;
			}
			input[type=image] {
				padding: 15px 19px;
				float: left;
				border-bottom: 1px solid #cacaca;
				margin: 0;
			}
			form.closed {
				left: 300px;
			}
		}
	}
}
nav#primary-nav {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
/****************************
Header
****************************/

/****************************
Blog
****************************/
.blog {
	article {
		.group {
			border-bottom: 1px solid $black;
		}
		.entry-meta {
			a {
				color: $black;
				text-transform: uppercase;
				font-size: rem-calc(7.5);
				font-family: $body-font-second;
				letter-spacing: 1px;
				margin-top: 20px;
			}
		}
		.entry-title {
			text-transform: uppercase;
			font-size: rem-calc(13.13);
			letter-spacing: rem-calc(1.5);
			margin-top: 17px;
			margin-bottom: 20px;
			a {
				color: $black;
				padding-bottom: 5px;
				border-bottom: 1px solid $black;
			}
		}
		.entry-date {
			font-size: rem-calc(9.38);
			letter-spacing: 2px;
			padding-left: 0;
		}
		.entry-content {
			font-size: rem-calc(16.88);
			padding-right: 0;

		}
		.read-more {
			float: right;
			margin-bottom: 53px;
			a {
				color: $black;
				font-style: italic;
				font-size: rem-calc(13.13);
				letter-spacing: rem-calc(0.5);
				&:after {
					content: " ";
					background-image: url(_static/images/icons/Arrow.png);
					background-size: contain;
				    position: relative;
				    width: 17px;
				    height: 17px;
				    display: inline-block;
				    top: 6px;
				    margin-left: 5px;
				}
			}

		}
	}
}
/****************************
Footer
****************************/
footer {
	text-transform: uppercase;
	font-size: rem-calc(9.38);
	.social-contact {
		position: relative;
		padding-bottom: 13px;
		border-bottom: 1px solid $black;
		a.contact {
			float: right;
			position: absolute;
			bottom: 13px;
			right: 0;
			color: $black;
			text-decoration: underline;
		}
	}
	.copyright, .creators {
		display: inline-block;
		margin-top: 13px;
	}
	.creators {
		float: right;
		font-family: $body-font-second;
		font-size: rem-calc(7.5);
		a {
			color: $black;
		}
	}
}